<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>C</key>
      <integer>-30</integer>
      <key>G</key>
      <integer>-50</integer>
      <key>O</key>
      <integer>-30</integer>
      <key>T</key>
      <integer>-80</integer>
      <key>V</key>
      <integer>-110</integer>
      <key>W</key>
      <integer>-100</integer>
      <key>Y</key>
      <integer>-60</integer>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-15</integer>
    </dict>
    <key>Aogonek</key>
    <dict>
      <key>j</key>
      <integer>110</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>j</key>
      <integer>-10</integer>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-10</integer>
      <key>public.kern2.short_lower_case</key>
      <integer>-10</integer>
      <key>public.kern2.undercut-left-lowercase</key>
      <integer>-10</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-50</integer>
      <key>public.kern2.short_lower_case</key>
      <integer>-12</integer>
      <key>public.kern2.undercut-left-lowercase</key>
      <integer>-50</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>O</key>
      <integer>-10</integer>
      <key>T</key>
      <integer>-100</integer>
      <key>Y</key>
      <integer>-80</integer>
      <key>public.kern2.undercut-left-lowercase</key>
      <integer>-30</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>Y</key>
      <integer>-40</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-10</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>A</key>
      <integer>10</integer>
      <key>T</key>
      <integer>-20</integer>
      <key>public.kern2.undercut-left-lowercase</key>
      <integer>-30</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>public.kern2.indented-left-lowercase</key>
      <integer>-10</integer>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-70</integer>
      <key>public.kern2.short_lower_case</key>
      <integer>-30</integer>
      <key>public.kern2.undercut-left-lowercase</key>
      <integer>-70</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>Uogonek</key>
    <dict>
      <key>j</key>
      <integer>0</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-110</integer>
      <key>O</key>
      <integer>-20</integer>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-40</integer>
      <key>public.kern2.short_lower_case</key>
      <integer>-30</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-100</integer>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-44</integer>
      <key>public.kern2.short_lower_case</key>
      <integer>-20</integer>
      <key>public.kern2.undercut-left-lowercase</key>
      <integer>-5</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-40</integer>
      <key>public.kern2.undercut-left-lowercase</key>
      <integer>-50</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>public.kern2.indented-left-lowercase</key>
      <integer>-60</integer>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-110</integer>
      <key>public.kern2.short_lower_case</key>
      <integer>-70</integer>
      <key>public.kern2.undercut-left-lowercase</key>
      <integer>-60</integer>
      <key>z</key>
      <integer>-80</integer>
    </dict>
    <key>aogonek</key>
    <dict>
      <key>j</key>
      <integer>73</integer>
    </dict>
    <key>dcaron</key>
    <dict>
      <key>public.kern2.tall_left_lowercase</key>
      <integer>120</integer>
    </dict>
    <key>eogonek</key>
    <dict>
      <key>j</key>
      <integer>60</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-20</integer>
    </dict>
    <key>fraction</key>
    <dict>
      <key>four.dnom</key>
      <integer>-55</integer>
    </dict>
    <key>iogonek</key>
    <dict>
      <key>j</key>
      <integer>58</integer>
    </dict>
    <key>lcaron</key>
    <dict>
      <key>public.kern2.tall_left_lowercase</key>
      <integer>120</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>parenright</key>
      <integer>-10</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>g</key>
      <integer>0</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.indented-left-lowercase</key>
      <integer>-20</integer>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-20</integer>
      <key>public.kern2.short_lower_case</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.undercut-left-lowercase</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.A_form</key>
    <dict>
      <key>public.kern2.undercut-left-lowercase</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.alt_caron</key>
    <dict>
      <key>public.kern2.tall_punctuation</key>
      <integer>120</integer>
    </dict>
    <key>public.kern1.arch-right-lowercase</key>
    <dict>
      <key>public.kern2.tall_left_lowercase</key>
      <integer>0</integer>
      <key>public.kern2.undercut-left-lowercase</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.indented-right-lowercase</key>
    <dict>
      <key>i</key>
      <integer>0</integer>
      <key>parenright</key>
      <integer>-10</integer>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.ogonek</key>
    <dict>
      <key>j</key>
      <integer>65</integer>
    </dict>
    <key>public.kern1.round-right-lowercase</key>
    <dict>
      <key>parenright</key>
      <integer>-20</integer>
      <key>public.kern2.indented-left-lowercase</key>
      <integer>-40</integer>
      <key>public.kern2.short_lower_case</key>
      <integer>0</integer>
      <key>public.kern2.undercut-left-lowercase</key>
      <integer>-30</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.round_right_uppercase</key>
    <dict>
      <key>public.kern2.undercut_left_uppercase</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.undercut-right-lowercase</key>
    <dict>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-20</integer>
      <key>quoteright</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.round-left-lowercase</key>
      <integer>-30</integer>
    </dict>
    <key>quoteright</key>
    <dict>
      <key>s</key>
      <integer>-100</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>s</key>
      <integer>-2</integer>
    </dict>
    <key>seven.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-20</integer>
    </dict>
    <key>tcaron</key>
    <dict>
      <key>public.kern2.tall_left_lowercase</key>
      <integer>70</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>o</key>
      <integer>-1</integer>
    </dict>
  </dict>
</plist>
