<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.alt_caron</key>
    <array>
      <string>dcaron</string>
      <string>lcaron</string>
    </array>
    <key>public.kern1.indented-right-lowercase</key>
    <array>
      <string>k</string>
    </array>
    <key>public.kern1.ogonek</key>
    <array>
      <string>Eogonek</string>
      <string>Iogonek</string>
      <string>uogonek</string>
    </array>
    <key>public.kern1.round-right-lowercase</key>
    <array>
      <string>b</string>
      <string>c</string>
      <string>ccedilla</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>a.001</string>
    </array>
    <key>public.kern1.round_right_uppercase</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
    </array>
    <key>public.kern1.undercut-right-lowercase</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern1.undercut_right_uppercase</key>
    <array>
      <string>T</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
    </array>
    <key>public.kern2.round-left-lowercase</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>c</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>g</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
      <string>a.001</string>
      <string>a.002</string>
      <string>g.001</string>
    </array>
    <key>public.kern2.round_left_uppercase</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
      <string>G</string>
      <string>J</string>
      <string>Jacute</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>S</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
    </array>
    <key>public.kern2.short_lower_case</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>s</string>
      <string>u</string>
      <string>z</string>
    </array>
    <key>public.kern2.tall_left_lowercase</key>
    <array>
      <string>adieresis</string>
      <string>ecaron</string>
      <string>f</string>
      <string>h</string>
      <string>i</string>
      <string>k</string>
      <string>l</string>
      <string>lcaron</string>
      <string>t</string>
      <string>tcaron</string>
    </array>
    <key>public.kern2.tall_punctuation</key>
    <array>
      <string>exclam</string>
      <string>question</string>
      <string>asterisk</string>
      <string>parenright</string>
      <string>braceright</string>
      <string>bracketright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.undercut-left-lowercase</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.undercut_left_uppercase</key>
    <array>
      <string>T</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
  </dict>
</plist>
